nav {
    background-color: #2c3e50;
    padding: 10px 0;
    text-align: center;
}

nav .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar .nav-links a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 16px;
}

nav a a:hover {
    text-decoration: underline;
}
