<footer *ngIf="!hide" class="footer">
    <div class="footer-content p-4">
      <p class="text-white">All rights reserved &copy; {{year}}</p>
      <ul class="footer-links flex justify-center space-x-4">
        <li><a routerLink="/home" class="text-white">Home</a></li>
        <li><a *ngIf="canViewDocuments()" routerLink="/documents" class="text-white">Documents</a></li>
        <li><a *ngIf="canViewOrders()" routerLink="/orders" class="text-white">Orders</a></li>
        <li><a *ngIf="canViewJobs()" routerLink="/jobs" class="text-white">Jobs</a></li>
        <li><a *ngIf="canViewManageUsers()" routerLink="/manage-users" class="text-white">Manage Users</a></li>
        <li><a  routerLink="/contact" class="text-white">Contact</a></li>
      </ul>
    </div>
  </footer>
  