<div class="container mx-auto p-4">
    <h2 class="text-2xl font-bold mb-4">Orders</h2>

    <div
        *ngIf="canCreateOrders()"
        class="mb-6 px-4 pt-4 border rounded-lg shadow-lg bg-white"
    >
        <h3
            (click)="displayOrderCreation = !displayOrderCreation"
            class="text-xl font-semibold cursor-pointer"
        >
            Create New Order
        </h3>
        <div *ngIf="displayOrderCreation" class="my-4">
            <label
                for="productName"
                class="block text-sm font-medium text-gray-700"
                >Product Name</label
            >
            <input
                type="text"
                placeholder="Product Name"
                [(ngModel)]="newOrder.productName"
                class="mb-2 p-2 border rounded w-full"
            />

            <label
                for="quantity"
                class="block text-sm font-medium text-gray-700"
                >Quantity</label
            >
            <input
                type="number"
                placeholder="Quantity"
                [(ngModel)]="newOrder.quantity"
                class="mb-2 p-2 border rounded w-full"
            />

            <label for="price" class="block text-sm font-medium text-gray-700"
                >Price</label
            >
            <input
                type="number"
                placeholder="Price"
                [(ngModel)]="newOrder.price"
                class="mb-2 p-2 border rounded w-full"
            />

            <label
                for="orderDate"
                class="block text-sm font-medium text-gray-700"
                >Order Date</label
            >
            <input
                type="datetime-local"
                placeholder="Order Date"
                [(ngModel)]="newOrder.orderDate"
                class="mb-2 p-2 border rounded w-full"
            />

            <label
                for="orderedBy"
                class="block text-sm font-medium text-gray-700"
                >Ordered By</label
            >
            <input
                type="text"
                disabled
                value="{{ this.authService.getUserUsername() }}"
                placeholder="{{ this.authService.getUserUsername() }}"
                [(ngModel)]="newOrder.orderedBy"
                class="mb-2 p-2 border rounded w-full"
            />

            <button
                (click)="addOrder()"
                class="bg-blue-500 text-white p-2 rounded w-full"
            >
                {{ isEditMode ? 'Update Order' : 'Add Order' }}
            </button>
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div
            *ngFor="let order of orders"
            class="p-4 border-2 rounded-lg shadow-lg bg-white"
        >
            <h3 class="text-xl font-semibold">{{ order.productName }}</h3>
            <p><strong>Quantity:</strong> {{ order.quantity }}</p>
            <p><strong>Price:</strong> {{ order.price }}</p>
            <p>
                <strong>Order Date:</strong>
                {{ order.orderDate | date: 'short' }}
            </p>
            <p><strong>Ordered By:</strong> {{ order.orderedBy }}</p>
            <button
                (click)="editOrder(order)"
                class="bg-green-500 text-white p-2 rounded w-full mb-2"
            >
                Update
            </button>
            <button
                (click)="deleteOrder(order.id)"
                class="bg-red-500 text-white p-2 rounded w-full mb-2"
            >
                Delete
            </button>
        </div>
    </div>

    <div class="mt-4">
        <input #productName placeholder="Product Name" class="border p-2" />
        <button
            (click)="getTotalValue(productName.value)"
            class="bg-green-500 text-white p-2 rounded"
        >
            Get Total Value
        </button>
    </div>
    <div *ngIf="totalValue" class="mt-4">
        <h2 class="text-xl font-bold">Total Value</h2>
        <p>Price: {{ totalValue.price }}</p>
        <p>Quantity: {{ totalValue.quantity }}</p>
        <p>Total: {{ totalValue.total }}</p>
    </div>
</div>
