<div class="container mx-auto p-4 max-w-[1200px]">
    <h2 class="text-2xl font-bold mb-4">Jobs</h2>

    <div
        *ngIf="canCreateJobJobs()"
        class="mb-6 px-4 pt-4 border rounded-lg shadow-lg bg-white"
    >
        <h3
            (click)="displayJobCreation = !displayJobCreation"
            class="text-xl font-semibold cursor-pointer"
        >
            Create New Job
        </h3>
        <div *ngIf="displayJobCreation" class="my-4">
            <label
                for="jobTitle"
                class="block text-sm font-medium text-gray-700"
                >Job Ttitle</label
            >
            <input
                type="text"
                placeholder="Job Ttitle"
                [(ngModel)]="newJob.name"
                class="mb-2 p-2 border rounded w-full"
            />

            <label
                for="Description"
                class="block text-sm font-medium text-gray-700"
                >Description</label
            >
            <input
                type="text"
                placeholder="Description"
                [(ngModel)]="newJob.description"
                class="mb-2 p-2 border rounded w-full"
            />

            <label
                for="department"
                class="block text-sm font-medium text-gray-700"
                >Select Department</label
            >
            <select
                [(ngModel)]="newJob.department"
                class="mb-2 p-2 border rounded w-full"
                placeholder="sss"
            >
                <option *ngFor="let dept of departments" [value]="dept">
                    {{ dept }}
                </option>
            </select>

            <label
                for="asignedBy"
                class="block text-sm font-medium text-gray-700"
                >Assigned By</label
            >
            <input
                type="text"
                placeholder="Assigned By"
                [(ngModel)]="newJob.asignedBy"
                class="mb-2 p-2 border rounded w-full"
                readonly
            />

            <label
                for="asignedTo"
                class="block text-sm font-medium text-gray-700"
                >Assigned To</label
            >
            <select
                [(ngModel)]="newJob.asignedTo"
                class="mb-2 p-2 border rounded w-full"
            >
                <option *ngFor="let user of userNames" [value]="user">
                    {{ user }}
                </option>
            </select>

            <label for="date" class="block text-sm font-medium text-gray-700"
                >Assigned On</label
            >
            <input
                type="date"
                [(ngModel)]="newJob.asignedOn"
                class="mb-2 p-2 border rounded w-full"
            />

            <label
                for="department"
                class="block text-sm font-medium text-gray-700"
                >Product Image</label
            >
            <input
                type="file"
                (change)="onFileSelected($event)"
                class="mb-2 p-2 border rounded w-full"
            />
            <button
                (click)="createJob()"
                class="bg-blue-500 text-white p-2 rounded w-full"
            >
                Create Job
            </button>
        </div>
    </div>

    <div class="mb-6 px-4 border rounded-lg shadow-lg bg-white">
        <h3
            (click)="displayFilter = !displayFilter"
            class="text-xl font-semibold cursor-pointer pt-4"
        >
            Filter Jobs
        </h3>
        <div *ngIf="displayFilter" class="my-4">
            <div class="mb-2">
                <label
                    for="department"
                    class="block text-sm font-medium text-gray-700"
                    >Department</label
                >
                <select
                    id="department"
                    [(ngModel)]="filter.department"
                    (change)="filterJobs()"
                    class="p-2 border rounded w-full"
                >
                    <option value="">All</option>
                    <option *ngFor="let dept of departments" [value]="dept">
                        {{ dept }}
                    </option>
                </select>
            </div>
            <div class="mb-2">
                <label
                    for="department"
                    class="block text-sm font-medium text-gray-700"
                    >Assigned By</label
                >
                <select
                    [(ngModel)]="filter.asignedBy"
                    (change)="filterJobs()"
                    class="mb-2 p-2 border rounded w-full"
                >
                    <option value="">All</option>
                    <option *ngFor="let user of userNames" [value]="user">
                        {{ user }}
                    </option>
                </select>
            </div>
            <div class="mb-2">
                <label
                    for="department"
                    class="block text-sm font-medium text-gray-700"
                    >Assigned To</label
                >
                <select
                    [(ngModel)]="filter.asignedTo"
                    (change)="filterJobs()"
                    class="mb-2 p-2 border rounded w-full"
                >
                    <option value="">All</option>
                    <option *ngFor="let user of userNames" [value]="user">
                        {{ user }}
                    </option>
                </select>
            </div>
            <div class="mb-2">
                <label
                    for="dateFrom"
                    class="block text-sm font-medium text-gray-700"
                    >Date From</label
                >
                <input
                    type="date"
                    id="dateFrom"
                    [(ngModel)]="filter.dateFrom"
                    (change)="filterJobs()"
                    class="mb-2 p-2 border rounded w-full"
                />
            </div>
            <div class="mb-2">
                <label
                    for="dateTo"
                    class="block text-sm font-medium text-gray-700"
                    >Date To</label
                >
                <input
                    type="date"
                    id="dateTo"
                    [(ngModel)]="filter.dateTo"
                    (change)="filterJobs()"
                    class="mb-2 p-2 border rounded w-full"
                />
            </div>
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div
            *ngFor="let job of filteredJobs"
            [ngClass]="{
                'border-green-500': job.isDone,
                'border-red-500': !job.isDone,
            }"
            class="p-4 border-2 rounded-lg shadow-lg bg-white"
        >
            <h3 class="text-xl font-semibold">{{ job.name }}</h3>
            <p>{{ job.description }}</p>
            <p><strong>Department:</strong> {{ job.department }}</p>
            <p><strong>Assigned By:</strong> {{ job.asignedBy }}</p>
            <p><strong>Assigned To:</strong> {{ job.asignedTo }}</p>
            <p><strong>Assigned On:</strong> {{ job.asignedOn | date }}</p>
            <p *ngIf="job.editedBy">
                <strong>Last Edited by:</strong> {{ job.editedBy }}
            </p>
            <img
                *ngIf="job.image"
                [src]="'data:image/png;base64,' + job.image"
                alt="Job Image"
                class="w-full h-auto mt-2 mb-2"
            />
            <input
                type="file"
                (change)="onFileSelected($event)"
                class="mb-2 p-2 border rounded w-full"
            />
            <button
                (click)="updateJob(job)"
                class="bg-green-500 text-white p-2 rounded w-full mb-2"
            >
                Update
            </button>
            <button
                (click)="deleteJob(job.id)"
                class="bg-red-500 text-white p-2 rounded w-full mb-2"
            >
                Delete
            </button>
            <button
                *ngIf="!job.isDone"
                (click)="markJobAsDone(job.id)"
                class="bg-yellow-500 text-white p-2 rounded w-full"
            >
                Mark as Done
            </button>
        </div>
    </div>
</div>
