  <div class="welcome-container max-w-[1200px]">
    <h1>Dobrodošli u našu kompaniju!</h1>
    <p>
      Dijagram organizacione strukture predstavlja sve organizacione jedinice kompanije:
    </p>

      <ul>
        <li>Administracija</li>
        <li>Inžinjering</li>
        <li>Odeljenje za nabavku</li>
        <li>Komercijala</li>
        <li>Radnici u proizvodnji</li>
      </ul>
    <div class="section">
      <h2>Administracija</h2>
      <p>
        Posao administracije uključuje komunikaciju sa klijentima sa domaćeg i inostranog tržišta, vođenje računa o dokumentaciji, izdavanje raznih vrsta zahteva od strane zaposlenih, vođenje računa o mesečnim troškovima i sl.
      </p>
    </div>
    <div class="section">
      <h2>Inžinjering</h2>
      <p>
        Inžinjering radi na konstruisanju i crtanju alata putem softverskih rešenja kao što su „AutoCAD“ i „SolidWorks“, te programiranju CNC mašina i dostavljanju programa do operatera.
      </p>
    </div>
    <div class="section">
      <h2>Odeljenje za nabavku</h2>
      <p>
        Odeljenje za nabavku vodi evidenciju o narudžbinama, potrošnom materijalu i naručenim proizvodima.
      </p>
    </div>
    <div class="section">
      <h2>Komercijala</h2>
      <p>
        Komercijalisti su zaduženi za prevoz robe do kupaca, te obilaženje kompanija sa ponudom servisiranja i proizvodnje alata.
      </p>
    </div>
    <div class="section">
      <h2>Radnici u proizvodnji</h2>
      <p>
        Servisno odeljenje i odeljenje za proizvodnju broji različite vrste majstora (od varioca, do CNC operatera na mašinama), koji su odgovorni za izradu i servis alata onako kako je naznačeno na crtežu ili nalogu.
      </p>
    </div>
    <div class="image-section">
      <h2>Galerija Alata</h2>
      <p>Slika kreiranih alata se uploaduju kao JPG ili PNG i onda ih radnici mogu pregledati.</p>
    </div>
  </div>
  
  