<div class="container mx-auto p-4 max-w-[1200px]">
  <h2 class="text-2xl font-bold mb-4">Documents</h2>

  <div *ngIf="canCreateDocuments()" class="mb-6 px-4 pt-4 border rounded-lg shadow-lg bg-white">
    <h3 (click)="displayDocumentCreation = !displayDocumentCreation" class="text-xl font-semibold cursor-pointer">Add Document</h3>
    <div *ngIf="displayDocumentCreation" class="my-4">

      <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
      <input type="text" placeholder="Title" [(ngModel)]="document.title" class="mb-2 p-2 border rounded w-full">

      <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
      <input type="text" placeholder="Description" [(ngModel)]="document.description" class="mb-2 p-2 border rounded w-full">

      <label for="employeeUserName" class="block text-sm font-medium text-gray-700">Creator:</label>
      <input type="text" placeholder="Creator: {{this.auth.getUserUsername()}}" disabled="" [(ngModel)]="document.employeeUserName" class="mb-2 p-2 border rounded w-full">

      <button (click)="saveDocument()" class="bg-blue-500 text-white p-2 rounded w-full">
        {{ isNewDocument ? 'Add Document' : 'Save Document' }}
      </button>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div *ngFor="let document of documents" class="p-4 border-2 rounded-lg shadow-lg bg-white">
      <h3 class="text-xl font-semibold">{{ document.title }}</h3>
      <p>{{ document.description }}</p>
      <p><strong>Date Created:</strong> {{ document.dateCreated | date: 'short' }}</p>
      <p><strong>Creator::</strong> {{ document.employeeUserName }}</p>
      <button (click)="showEditDialog(document)" class="bg-green-500 text-white p-2 rounded w-full mb-2">Update</button>
      <button (click)="deleteDocument(document)" class="bg-red-500 text-white p-2 rounded w-full mb-2">Delete</button>
    </div>
  </div>

  <p-dialog header="Document Details" [(visible)]="displayDialog" [modal]="true" [closable]="false">
    <div class="p-fluid min-w-96">

      <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
      <input type="text" placeholder="Title" [(ngModel)]="document.title" class="mb-2 p-2 border rounded w-full">

      <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
      <input type="text" placeholder="Description" [(ngModel)]="document.description" class="mb-2 p-2 border rounded w-full">

      <label for="employeeUserName" class="block text-sm font-medium text-gray-700">Creator:</label>
      <input type="text" placeholder="Creator:" disabled="" [(ngModel)]="document.employeeUserName" class="mb-2 p-2 border rounded w-full">

    </div>
    <p-footer>
      <button pButton type="button" label="Cancel" icon="pi pi-times" class="bg-red-500 text-white p-2 rounded w-full mb-2" (click)="displayDialog = false"></button>
      <button pButton type="button" label="Save" icon="pi pi-check" class="bg-green-500 text-white p-2 rounded w-full mb-2" (click)="saveDocument()"></button>
    </p-footer>
  </p-dialog>
</div>
