<div
    *ngIf="canViewTable && users.length > 0"
    class="p-4 max-w-[1200px] flex justify-center flex-col items-center m-auto"
>
    <h2 class="text-2xl font-bold mb-4">Users</h2>
    <div class="overflow-x-auto rounded-lg">
        <table class="min-w-full bg-white border border-gray-200 rounded">
            <thead class="bg-gray-200 rounded">
                <tr>
                    <th class="py-2 px-4 border-b">Username</th>
                    <th class="py-2 px-4 border-b">First Name</th>
                    <th class="py-2 px-4 border-b">Last Name</th>
                    <th class="py-2 px-4 border-b">Email</th>
                    <th class="py-2 px-4 border-b">Roles</th>
                    <th class="py-2 px-4 border-b">Actions Add</th>
                    <th class="py-2 px-4 border-b">Actions Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users" class="hover:bg-gray-100">
                    <td class="py-2 px-4 border-b">{{ user.userName }}</td>
                    <td class="py-2 px-4 border-b">{{ user.firstName }}</td>
                    <td class="py-2 px-4 border-b">{{ user.lastName }}</td>
                    <td class="py-2 px-4 border-b">{{ user.email }}</td>
                    <td class="py-2 px-4 border-b">
                        {{ user.roles.join(', ') || 'User has no roles' }}
                    </td>
                    <td class="py-2 px-4 border-b">
                        <div class="grid gap-2 grid-cols-2">
                            <button
                                class="bg-blue-500 text-white py-1 px-2 rounded"
                                (click)="makeRole(user.userName, 'make-admin')"
                            >
                                Make Admin
                            </button>
                            <button
                                class="bg-blue-500 text-white py-1 px-2 rounded"
                                (click)="makeRole(user.userName, 'make-owner')"
                            >
                                Make Owner
                            </button>
                            <button
                                class="bg-blue-500 text-white py-1 px-2 rounded"
                                (click)="makeRole(user.userName, 'make-user')"
                            >
                                Make User
                            </button>
                            <button
                                class="bg-blue-500 text-white py-1 px-2 rounded"
                                (click)="
                                    makeRole(user.userName, 'make-superadmin')
                                "
                            >
                                Make Super Admin
                            </button>
                            <button
                                class="bg-blue-500 text-white py-1 px-2 rounded"
                                (click)="
                                    makeRole(user.userName, 'make-engineer')
                                "
                            >
                                Make Engineer
                            </button>
                            <button
                                class="bg-blue-500 text-white py-1 px-2 rounded"
                                (click)="
                                    makeRole(user.userName, 'make-carrier')
                                "
                            >
                                Make Carrier
                            </button>
                            <button
                                class="bg-blue-500 text-white py-1 px-2 rounded"
                                (click)="
                                    makeRole(user.userName, 'make-procurement')
                                "
                            >
                                Make Procurement
                            </button>
                            <button
                                class="bg-blue-500 text-white py-1 px-2 rounded"
                                (click)="
                                    makeRole(
                                        user.userName,
                                        'make-production-worker'
                                    )
                                "
                            >
                                Make Production Worker
                            </button>
                        </div>
                    </td>
                    <td class="py-2 px-4 border-b">
                        <div class="grid gap-2 grid-cols-2">
                            <button
                                class="bg-red-500 text-white py-1 px-2 rounded"
                                (click)="
                                    removeRole(user.userName, 'remove-admin')
                                "
                            >
                                Remove Admin
                            </button>
                            <button
                                class="bg-red-500 text-white py-1 px-2 rounded"
                                (click)="
                                    removeRole(user.userName, 'remove-owner')
                                "
                            >
                                Remove Owner
                            </button>
                            <button
                                class="bg-red-500 text-white py-1 px-2 rounded"
                                (click)="
                                    removeRole(user.userName, 'remove-user')
                                "
                            >
                                Remove User
                            </button>
                            <button
                                class="bg-red-500 text-white py-1 px-2 rounded"
                                (click)="
                                    removeRole(
                                        user.userName,
                                        'remove-superadmin'
                                    )
                                "
                            >
                                Remove Super Admin
                            </button>
                            <button
                                class="bg-red-500 text-white py-1 px-2 rounded"
                                (click)="
                                    removeRole(user.userName, 'remove-engineer')
                                "
                            >
                                Remove Engineer
                            </button>
                            <button
                                class="bg-red-500 text-white py-1 px-2 rounded"
                                (click)="
                                    removeRole(user.userName, 'remove-carrier')
                                "
                            >
                                Remove Carrier
                            </button>
                            <button
                                class="bg-red-500 text-white py-1 px-2 rounded"
                                (click)="
                                    removeRole(
                                        user.userName,
                                        'remove-procurement'
                                    )
                                "
                            >
                                Remove Procurement
                            </button>
                            <button
                                class="bg-red-500 text-white py-1 px-2 rounded"
                                (click)="
                                    removeRole(
                                        user.userName,
                                        'remove-production-worker'
                                    )
                                "
                            >
                                Remove Production Worker
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="responseMessage" class="mt-4">
    <p class="text-green-600">{{ responseMessage }}</p>
</div>
